<h1>Movie lists</h1>
<div class="container">
<div class="row">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="background">
        <h1><%= list.name %></h1>
        <% if list.photo.attached? %>
          <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>

<%= link_to "New list", new_list_path %>
