<h1>Movie lists</h1>
<div class="container">
<div class="row">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="background">
        <h1><%= list.name %></h1>
      </div>
    <% end %>
  <% end %>
  </div>
</div>

<%= link_to "New list", new_list_path %>

<%= cl_image_tag("alex-litvin-MAYsdoYpGuk-unsplash_rtekze",
      width: 400, height: 300, crop: :fill) %>